.app {
    padding: var(--gap-v);
    max-height: 100dvh;
}

.content {
    max-height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: var(--gap-v);
    background: var(--bg);
    border-radius: var(--input-border-radius);
    border: 1px solid var(--bg-4);
}

.page {
    padding-top: 5em;
    max-height: calc(100dvh - 2 * var(--gap-v));
    width: 100%;
}

.navbar {
    backdrop-filter: blur(10px);
    border-radius: var(--input-border-radius);
    position: fixed;
    width: calc(100% - 2 * var(--gap-v));
    padding: var(--gap-v);
    border: 1px solid var(--bg-4);
}

.sidebar-link-children {
    margin-left: var(--gap-v);
}

.sidebar-link {
    padding: .5em;
    border-radius: var(--input-border-radius);
    width: 100%;
    border: 1px solid transparent;
}

.sidebar-link:hover {
    border: 1px solid var(--bg-4);
    text-decoration: none !important;
    background: var(--bg-2);
}

.sidebar-link.active {
    text-decoration: none !important;
    background: var(--bg-2);
}

pre {
    border-radius: var(--input-border-radius);
    overflow: auto;
    margin: var(--gap-v) 0;
    padding: var(--gap-v);
    background: #1C1D21;
}

.code-copy-button {
    position: absolute;
    top: var(--gap-v);
    right: var(--gap-v);
}
